<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">TMF15</h3>
</div> -->

<div style="position: relative; z-index: -1;" skrollr data-0="transform: translateY(0px)" data-300="transform: translateY(70px)"class="jumbotron">
  <div skrollr data-30="opacity: 1; transform: translateY(0px);" data-100="opacity: 0; transform: translateY(-200px)">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img skrollr data-0="transform:rotate(0deg);" data-100="transform:rotate(360deg)" src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <span skrollr data-0="opacity: 0; transform: translateY(0px);" data-100="opacity: 1; transform: translateY(-50px)" style="font-size: 3em; text-align: center;" class="glyphicon glyphicon-heart"></span>
</div>

<div style="background-color: #fff; z-index: 100 !important;" class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>Made with <span class="glyphicon glyphicon-heart"></span> from the Treefort web team.</p>
</div>
